

.app{
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    padding-left: 12em;
    padding-right: 12em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.color-input{
    width: 32px;
    border: none;    
}

header .right-header{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-1{
    font-size: large; 
    color: rgb(63, 63, 141);
}

.text-2{
    font-size: 24px;
}

.img-grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(10em, 10em));
}

.card{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(142, 142, 199);
    height: 12em;
    width: 10em;
}

.card img{
    height: 6em;
    width: 6em;
}

.card:hover{
    transform: scale(1.2);
}

footer{
    text-align: center;
}

footer .footer-wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

footer .footer-wrapper > *{
    display: flex;
    align-items: center;
    margin: 10px;
}

footer img{
    height: 3em;
    width: 3em;
}